// --------------------------------------------------------------------------------------
// Variables and settings
// --------------------------------------------------------------------------------------

$site-width: 1280px;
$grid-spacing: 20px;
$font-family-sans-serif: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-monospace: Consolas, Monaco, Menlo, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-color-base: #3e464c;
$line-height-base: 1.6;
$font-size-base: 17px;
$font-weight-base: 300;
$font-size-mobile: 16px;

//headings
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 300;
$headings-color: $font-color-base;
$font-size-h1: 2.986em;
$font-size-h2: 2.488em;
$font-size-h3: 2.074em;
$font-size-h4: 1.728em;
$font-size-h5: 1.44em;
$font-size-h6: 1.2em;

// Smaller headings for mobile
$font-size-mobile-h1: 2.074em;
$font-size-mobile-h2: 1.728em;
$font-size-mobile-h3: 1.44em;
$font-size-mobile-h4: 1.2em;
$font-size-mobile-h5: 1.1em;
$font-size-mobile-h6: inherit;

// Breakpoints
// ------------------------------------------------------------------------------------
$screen-small: 640px;
$screen-medium: 768px;
$screen-large: 990px;
$screen-xlarge: 1440px;
